@using WorkSuite.Library.Asp.Net.Mvc.Presentation.Controls.ContentHeaders
@model WorkSuite.Library.Asp.Net.Mvc.Server.ContentHeaders.ContentHeader

@{
    Layout = null;

    const string title = "WorkSuite.Library.Asp.Net.Mvc.Presentation.Tests - Content Headers";
}

    <!DOCTYPE HTML>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@title</title>
    </head>
    <body>
        <h1>@title</h1>
        @ContentHeaders.For( Model as dynamic )
    </body>
</html>
