@using WorkSuite.Library.Asp.Net.Mvc.Presentation.Controls.DetailsLists
@model WorkSuite.Library.Asp.Net.Mvc.Server.Framework.ViewModels.DetailsLists.DetailsList
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkSuite.Library.Asp.Net.Mvc.Presentation.Tests - DetailsList</title>
</head>
<body>
    <h1>WorkSuite.Library.Asp.Net.Mvc.Presentation.Tests - DetailsList</h1>
    @DetailsLists.For( Model )
</body>
</html>
