// BUTTON
.Button {
	float: left;
	@include Button;
	margin: 0 6px $layoutgrid_lineheight 0;
}

.Button:hover,
.Button:focus {
	@include Button_Hover;
}

.Button_Disabled {
	@include Button_Disabled;
}

.Button_Disabled:hover {
	@include Button_Disabled;
}

.Button_Primary {
	@include Button_Primary;
}

.Button_Primary:hover,
.Button_Primary:focus {
	@include Button_Hover_Primary;
}

.Button_Primary.Button_Disabled {
    @include Button_Disabled;
}

// BUTTON GROUP
.ButtonGroup {
	float: left;
	@include Button;
	margin: 0 6px $layoutgrid_lineheight 0;
}

.ButtonGroup:hover,
.ButtonGroup:focus {
	@include Button_Hover;
}

.ButtonGroup_Disabled {
	@include Button_Disabled;
}

.ButtonGroup_Disabled:hover {
	@include Button_Disabled;
}

.ButtonGroup.ButtonGroup_Selected {
    @include Button_Selected;
}

.ButtonGroup_Primary {
	@include Button_Primary;
}

.ButtonGroup_Primary:hover,
.ButtonGroup_Primary:focus {
	@include Button_Hover_Primary;
}

.ButtonGroup_Primary.ButtonGroup_Selected {
    @include Button_Selected;
	@include Button_Selected_Primary;
}

//SPLIT BUTTON
.SplitButton {
	margin: 0 6px $layoutgrid_lineheight 0;
    float: left;
    list-style-type: none;
}

.SplitButton {
	position: relative; 
	float: left; 
	zoom: 1;
}

.SplitButton .SplitButton_Option {
	display: block; 
	@include Button;
	float: left;
	margin: 0;
}

.SplitButton.SplitButton_Primary .SplitButton_Option {
	@include Button_Primary;
}

.SplitButton.SplitButton_Disabled .SplitButton_Option {
	@include Button_Disabled;
}

.SplitButton .SplitButton_MenuToggle { 
	background-color: $Button_Background_Colour_Base;
    width: 24px;
    height: 10px;
    display: block;
    float: left;
    height: 25px;
}

.SplitButton.SplitButton_Primary .SplitButton_MenuToggle { 
	background-color: $Button_Background_Colour_Base_Primary;
}

.SplitButton.SplitButton_Disabled .SplitButton_MenuToggle { 
	background-color: $Button_Border_Colour_Disabled;
}

.SplitButton .SplitButton_MenuToggle:after {
	content:"";
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid $Button_Text_Colour;
	position: relative;
	top: 20px;
	margin-left: 6px;
}

.SplitButton.SplitButton_Primary .SplitButton_MenuToggle:after {
	border-top: 8px solid $Button_Text_Colour_Primary;
}

.SplitButton.SplitButton_Disabled .SplitButton_MenuToggle:after {
	border-top: 8px solid $Button_Background_Colour_Disabled;
}

// DROPDOWN MENU
.SplitButton .SplitButton_Menu { 
	display: none;
	position: absolute;
	width: 150px; 
	border: 1px solid $Button_Border_Colour !important;
	z-index:10000;
    left:0;
    top:24px;
}

.SplitButton .SplitButton_Menu .SplitButton_Menu_Option { 
	border-top: 1px solid $Button_Border_Colour; 
	float: none; 
    overflow: auto;
}

.SplitButton.SplitButton_Primary .SplitButton_Menu { 
	border: 1px solid $Button_Border_Colour_Primary !important;
}

.SplitButton.SplitButton_Primary .SplitButton_Menu .SplitButton_Menu_Option { 
	border-top: 1px solid $Button_Border_Colour_Primary; 
}


.SplitButton .SplitButton_Menu .SplitButton_Menu_Option:first-child { 
	border-top: 0;
}

.SplitButton .SplitButton_Menu .SplitButton_Menu_Option .SplitButton_Menu_Link { 
   	width: 100%; 
   	display: block; 
   	color: $Button_Text_Colour !important;
	padding: 5px;
	text-decoration: none;
	background-image: none !important;
	background-color: #ffffff !important;
	border: 0 !important;
	text-shadow: none !important;
} 

.SplitButton .SplitButton_Menu .SplitButton_Menu_Option .SplitButton_Menu_Link:after {
	border: 0 !important;
}

.SplitButton .SplitButton_Menu .SplitButton_Menu_Option .SplitButton_Menu_Link:hover { 
	background-color: $Button_Background_Colour_Active !important;
	color: $Button_Text_Colour !important;
	border:0 !important;
}

.SplitButton.SplitButton_Primary .SplitButton_Menu .SplitButton_Menu_Option .SplitButton_Menu_Link:hover { 
	background-color: $Button_Background_Colour_Active_Primary !important;
	color: $Button_Text_Colour_Primary !important;
}

.SplitButton .SplitButton_MenuToggle:hover > .SplitButton_Menu { 
	display:block;
}

.SplitButton.SplitButton_Disabled .SplitButton_MenuToggle:hover > .SplitButton_Menu { 
	display: none;
}