// HEADER MENUS
@mixin header_menu {
	font-size: 12pt;
	float: left;
	margin: 0;
	padding: 0;
}

@mixin subheader_menu {
	font-size: 11pt;
	float: left;
	margin: 0;
	padding: 0;
}

@mixin header_menu_link {
	@include branding_header_menu_link;
	float: left;
	margin: 0 12px 0 0;
}

@mixin header_menu_link_hover {
	@include branding_header_menu_link_hover;
}

@mixin subheader_menu_link {
	@include branding_subheader_menu_link;
	float: left;
	margin: 0 6px 0 0;
}

@mixin subheader_menu_link_hover {
	@include branding_subheader_menu_link_hover;
}