@using WorkSuite.Library.Asp.Net.Mvc.Presentation.Configuration.StaticContent
@using WorkSuite.Library.Asp.Net.Mvc.Presentation.Controls.Editors
@using WorkSuite.Library.Asp.Net.Mvc.Server.Framework.ViewModels.Tables
@model WorkSuite.Library.Asp.Net.Mvc.Server.Framework.ViewModels.Editors.Editor

@{
    Layout = @"~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "represent Colour";
    ViewBag.Id = "ColourPickerMock";
}

<h1>WorkSuite.Library.Asp.Net.Mvc.Presentation.Tests - represent Colour</h1>
@Editors.For(Model as dynamic)

@section dependencies {
    require(['color_picker_startup'], function(){ });
    require(['new'], function () { });
}