@* Generator : MvcHelper GeneratePrettyNames : true *@

@helper Unknown() {

    @* to do: this hard coded string need to be changed *@

    <p class="message-error">
        Unfortunately an internal error occurred that has resulted in then
        system not being able to display the correct information.  Please
        call support to report this issue.
    </p>
}