@* Generator : MvcHelper TypeVisibility : Internal *@
@using Controls.Primitives
@using Server.Framework.ViewModels.Tiles
@using WTS.WorkSuite.Library.CodeStrutures.Behavioral

@helper Render(Tile tile) {
    Guard.IsNotNull( tile, "tile" );
    
    var context_specific_classes = tile.classes.AsHtmlClassString();
    
    <div class="tile @context_specific_classes">
    <a href="@tile.url">
        <h3>@tile.title</h3>
    </a>
</div>

        
}


